input {
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 20rem;
  font-size: 1.2rem;
}

input:focus {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

iframe {
  border: none;
  font-size: 100px;
  align-items: center;
  text-align: center;
  width: 800px;
  height: 700px;
  margin-left: 25%;
  src: url("https://embed.lottiefiles.com/animation/98642");
}
.card {
  background-color: rgb(13, 13, 14);
  color: white;
  text-align: center;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.btn {
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}

.btn:hover {
  background-color: orange;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.filed-group{
  margin: 10px;
}