
.icon-fa{
  font-size: 50px;
  color: white;
  background-color: steelblue;
  border-radius: 30px;
  cursor: pointer;
}

.icon-you{
  font-size: 50px;
  margin-left: 20px;
  background-color: white;
  border-radius: 20px;
  color: red;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-basis: content;
  flex-wrap: wrap;
  margin-bottom: 10px;
}